/Delphi/ParseItAll/Win32/Debug/cache
/Delphi/ParseItAll/Win32/Debug
/Delphi/ParseItAll/__history
/Delphi/ParseItAll/JS/nbproject/private/
*.stat
/Delphi/ParseItAll/*.identcache
/Delphi/ParseItAll/*.local
/Delphi/ParseItAll/*.stat
/Delphi/Grasper/Win32/DCU/*.dcu
/Delphi/Grasper/Win32
/Delphi/Grasper/__history
