{% extends 'PIABundle:Common:common.html.twig' %}

{% block content %}
    <hr>
    <div class="panel-buttons">
        <a class="button-add" href="{{ path('pia_job_add') }}">+ New Job</a>
    </div>
    <table>
        {% for job in jobs %}
            <tr>
                <td>{{ job.caption }}</td>
                <td><a href="#">manage</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

