body {
    margin: 0;
    font: 14px sans-serif;
}
.toppanel {
    background: #fff;
    text-align: center;
}
.toppanel-logo {
    float: left;
    font-size: 1.17em;
}
.toppanel-nav-ctrl {
    display: inline-block;
}
.toppanel-ua-ctrl {
    float: right;
    margin-left: 5px;
}
.content, .toppanel {
    width: 1080px;
    margin: 0 auto;
    padding: 5px;
} 
.panel-buttons {
    padding: 10px;
}
.button-add {
    background: #6d6;
    text-decoration: none;
    padding: 8px;
    color: white;
    border-radius: 15px;
}
.cntrlpanel {
    background: yellow;
    width: 300px;
    float: right;
}
.browser {
    position: absolute;
    background: buttonface;
    width: 780px;
    height: 100%;
    text-align: center;
}
.browser-urlfield {
    width: 400px;
}
.browser-frame {
    width: 100%;
    height: 94%;
    border: 0;
}