{% extends 'base.html.twig' %}

{% block body %}

    {% block header %}
        <header>
            <div class="toppanel">
                <div class="toppanel-logo"><b>Parse It All!</b></div>
                <div class="toppanel-nav-ctrl"><a href="{{ path('pia_jobs') }}">Jobs</a></div>
                <div class="toppanel-ua-ctrl">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <span>{{ app.user.username }} (<a href="{{ path('pia_logout') }}">Sign Out</a>)</span>
                    {% else %}
                        <span><a href="{{ path('pia_login') }}">Sign In</a></span>
                    {% endif %}    
                </div>
            </div>
        </header>
    {% endblock %}    
    
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
        
{% endblock %}
