{% extends 'base.html.twig' %}

{% block body %}
    Test Rules! {{ job.caption }}
    <table id="levels">
        {% for level in job.levels %}
            <tr>
                <td><a href="#" data-levelid="{{ level.id }}">Level {{ level.level }}</a></td>
            </tr>
        {% endfor %}
    </table>  
    <p>
        <table id="groups"></table>
    </p>
    <p>
        <table id="rules"></table>
    </p>
{% endblock %}

