<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Parse It All!</title>
        <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
