{% extends 'PIABundle:Editor:layout.html.twig' %}

{% block cntrlpanel %}
    <div>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}