{% extends 'PIABundle:Common:common.html.twig' %}

{% block content %}
    <div class="browser">
        <div class="browser-panel">
            http(s):// <input class="browser-urlfield" type="text"> <input id="btn" type="button" value="go">
        </div>
        <iframe class="browser-frame" src="proxy.php"></iframe>
    </div>
    
    <div class="cntrlpanel">
        {% block cntrlpanel %}
        {% endblock %}
    </div>
{% endblock %}