body{
    overflow: hidden;    
}
.panel{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: buttonshadow;
    padding: 6px;
    padding-left: 10%;
    z-index: 100;
}
#frame{
    position: absolute; 
    top: 32px;
    width: 80%;
    height: 95%;
    border: 0;
}
.panel-command{
    border: 1px solid black;
    float: right;
    margin-top: 40px;
    width: 18%;
    padding: 5px;
}
.panel-command textarea{
    width: 90%;
    height: 100px;
    margin-top: 5px;
}
#jsonrule {
    display: none;
    position: fixed;
    top: 50px;
    left: 50px;
    z-index: 100;
    background: buttonshadow;
}

